@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Main Text Variables */
    --text-base--small: clamp(0.821rem, 0.6071rem + 0.4647vi, 0.8943rem);
    --text-base: clamp(1rem, 0.986rem + 0.07vw, 1.05rem);
    --text-base--large: clamp(1rem, 0.8571rem + 0.7143vi, 1.5rem);

    /* Heading Variables */
    --heading-6: clamp(1rem, 0.928rem + 0.36vw, 1.25rem);
    --heading-5: clamp(1.13rem, 1.004rem + 0.63vw, 1.57rem);
    --heading-4: clamp(1.25rem, 1.0359rem + 1.0707vi, 1.9995rem);
    --heading-3: clamp(1.5625rem, 1.2474rem + 1.5755vi, 2.6653rem);
    --heading-2: clamp(1.9531rem, 1.496rem + 2.2854vi, 3.5529rem);
    --heading-1: clamp(2.4414rem, 1.7858rem + 3.278vi, 4.736rem);
    --heading-display: clamp(2.6518rem, 1.88rem + 3.459vi, 7.3131rem);
    --heading-footer: clamp(3.6518rem, 2.034rem + 9.959vi, 18.3131rem);
    --heading-number: clamp(1.6518rem, 2.034rem + 7.959vi, 8.3131rem);

    /* Spacing Variables */
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5446rem + 0.0893vi, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8571rem + 0.0893vi, 0.9375rem);
    --space-sm: clamp(1.125rem, 1.0893rem + 0.1786vi, 1.25rem);
    --space-md: clamp(1.6875rem, 1.6339rem + 0.2679vi, 1.875rem);
    --space-lg: clamp(2.25rem, 2.1786rem + 0.3571vi, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2679rem + 0.5357vi, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3571rem + 0.7143vi, 5rem);

    /* Grid */
    --gap-fluid: clamp(1rem, 0.8571rem + 1.0143vi, 3.5rem);
    --column-count: 12;
    --grid-main: repeat(var(--column-count), minmax(0, 1fr));
    --grid-gap-total: calc(var(--gap-fluid) * (var(--column-count) - 1));
    --column-width: calc(
      (100% - var(--grid-gap-total)) / var(--column-count) + var(--gap-fluid)
    );
  }

  /* mux-player {
    --controls: none;
    --dialog: none;
    --loading-indicator: none;
    --play-button: none;
    --live-button: none;
    --seek-backward-button: none;
    --seek-forward-button: none;
    --mute-button: none;
    --captions-button: none;
    --airplay-button: none;
    --pip-button: none;
    --fullscreen-button: none;
    --cast-button: none;
    --playback-rate-button: none;
    --volume-range: none;
    --time-range: none;
    --time-display: none;
    --duration-display: none;
    --rendition-selectmenu: none;
    --center-controls: none;
    --bottom-play-button: none;
  } */

  ::-moz-selection {
    background: #6b645c;
  }
  ::-webkit-selection {
    background: #6b645c;
  }
  ::selection {
    background: #6b645c;
  }

  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    font: inherit;
  }

  body {
    @apply min-h-svh;
  }

  img,
  svg,
  video,
  picture {
    @apply block max-w-full;
  }

  section,
  header,
  footer {
    @apply relative;
  }

  svg {
    @apply block;
  }

  p {
    @apply text-balance leading-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-balance leading-tight tracking-heading;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label,
  blockquote {
    @apply my-0;
  }

  /* input,
  textarea {
    @apply;
  } */
}

@layer utilities {
  .section-padding {
    @apply px-space-md py-space-lg 2xl:px-space-xl;
  }

  .custom-grid {
    @apply flex grid-cols-12 flex-col gap-x-fluid md:grid;
  }
}

@layer components {
  .section-heading {
    @apply;
  }

  .link-text {
    @apply;
  }
}
